<div class="page-subheader page-subheader--default"></div>

<div class="page-main">
    <div class="page-main__inner">

        <div class="page-content page-content--single">

            <h1 class="page-title">About WhatsApp</h1>
            <div class="page-body">
            <div class="block block--plain">
    <h2 class="block__title">
        Our App    </h2>
    <div class="block__body rich-text">
        More than 1 billion people in over 180 countries use <span class='nowrap'>WhatsApp<sup>1</sup></span> to stay in touch with friends and family, anytime and anywhere. WhatsApp is <span class='nowrap'>free<sup>2</sup></span> and offers simple, secure, reliable messaging and calling, available on phones all over the world.
        <p><sup id="1">1</sup> And yes, the name WhatsApp is a pun on the phrase What's Up.</p>
        <p><sup id="2">2</sup> Data charges may apply.</p>

    </div>
</div>

<div class="block block--plain">
    <h2 class="block__title">
        Our Mission    </h2>
    <div class="block__body rich-text">
        WhatsApp started as an alternative to SMS. Our product now supports sending and receiving a variety of  media: text, photos, videos, documents, and location, as well as voice calls. Our messages and calls are secured with end-to-end encryption, meaning that no third party including WhatsApp can read or listen to them. Behind every product decision is our desire to let people communicate anywhere in the world without barriers.    </div>
</div>

<div class="block block--plain">
    <h2 class="block__title">
        Our Team    </h2>
    <div class="block__body rich-text">
        WhatsApp was founded by Jan Koum and Brian Acton who had previously spent 20 years combined at Yahoo. WhatsApp joined Facebook in 2014, but continues to operate as a separate app with a laser focus on building a messaging service that works fast and reliably anywhere in the world.    </div>
</div>            </div>

        </div>
    </div>
</div>